{% extends "pages/base.html" %}
{% load static %}
{% block title %}it-блог{% endblock %}
{% block content %}

<div class="row mb-2">
    {% for post in posts %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ post.title }}</h3>
                    <div class="mb-1 text-muted">{{ post.created|date }}</div>
                    <p></p>
                    <p class="card-text mb-auto">{{ post.description }}</p>
                    <a href="{{ post.get_absolute_url }}" class="stretched-link">Продолжить чтение</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% if post.image %}
                        <img src="{{ post.image.url }}"/>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>

{% include "pagination.html" with page=page_obj %}
{% endblock %}
        



