{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Восстановление пароля {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-md-2"></div>
        <div class="col-md-8">
            {% if validlink %}
            <div class="jumbotron">
                <h1 class="display-4">Восстановить пароль</h1>
                <p class="lead">Пожалуйста, введите новый пароль</p>
                <hr class="my-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <p class="lead">
                        <button type="submit"  class="btn btn-primary btn-lg">Восстановить</button>
                    </p>
                </form>
            </div>
            {% else %}
            <h1 class="display-4">Ошибка восстановления пароля</h1>
                <p class="lead">Ссылка на восстановление пароля недействительна,
                    возможно потому, что она уже была использована. Пожалуйста, сделайте новый запрос на восстановление пароля.
                </p>
            {% endif %}
        </div>
        <div class="col-6 col-md-2"></div>
    </div>
</div>

{% endblock %}