{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Восстановление пароля {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Восстановить пароль</h1>
                <p class="lead">Пожалуйста, введите ваш адрес электронной почты, на который мы отправим ссылку для восстановления пароля</p>
                <hr class="my-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                    {{ form | crispy }}
                    <p class="lead">
                        <button  type="submit"  class="btn btn-primary btn-lg">Отправить</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-2"></div>
    </div>
</div>
{% endblock %}
