{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <div class="jumbotron">
                <h1 class="display-4">Восстановление пароля</h1>
                <p class="lead">Пожалуйста, введите ваш адрес электронной почты, на который мы отправим ссылку для восстановления пароля</p>
                <hr class="my-4">
                <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                    {{ form | crispy }}
                    <p class="lead">
                        <button  type="submit"  class="btn btn-primary btn-lg">Отправить</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<div class="container">
  <div class="row">
    <div class="col">
      1 из 3
    </div>
    <div class="col-5">
      2 из 3 (широкая)
    </div>
    <div class="col">
      3 из 3
    </div>
  </div>