@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.contain{
	width: 800px;
	max-width: 100%;
	margin: auto;
	font-family: 'Lato', sans-serif;
	background: #cccccc;
}
.header{
	display: flex;
	align-items: center;
	background: rgb(55, 55, 65);
	padding-top: 47px;
	margin-top: -20px;
	.name{
		font-family: 'Podkova', serif;
		font-size: 39px;
		letter-spacing: 1.7px;
		text-align: center;
		text-transform: uppercase;
		color: #e0c3ad;
		font-weight: 700;
		width: 485px;
		max-width: 100%;
		span{
			font-size: 17px;
			display: block;
			text-transform: none;
			color: #fff;
			margin-top: 25px;
			font-family: 'Lato', sans-serif;
		}
	}
	.photo{
		width: 315px;
		max-width: 100%;
		margin-bottom: -38px;
		img{
			width: 240px;
			max-width: 100%;
			display: block;
			margin-left: auto;
			position: relative;
			right: 25px;
		}
	}
}
.about-person{
	display: flex;
	.item{
		.item-header{
			font-family: 'Podkova', serif;
			text-transform: uppercase;
			height: 38px;
			display: flex;
			align-items: center;
			padding: 0 12px;
			color: #e0c3ad;
			background: rgb(55, 55, 65);
			line-height: 100%;
		}
		b{
			font-size: 15px;
		}
		ul{
			padding: 0 12px;
			margin-bottom: 0;
			margin-top: 19px;
			li{
				list-style: none;
				line-height: 1.5;
				font-size: 14px;
				em{
					margin-bottom: 5px;
					display: block;
					b{
						display: block;
						margin-bottom: 5px;
						font-style: normal;
					}
				}
			}
		}
	}
	.brown{
		background: #e0c3ad;
		width: 335px;
		max-width: 100%;
		padding: 0 35px;
		.item:first-child{
			margin-top: 83px;

		}
		.item{
			margin-top: 70px;
		}
	}
	.white{
		width: 465px;
		max-width: 100%;
		padding: 0 35px;
		background: #fff;
		padding-bottom: 80px;
		.item:first-child li{
			font-size: 15.5px;
		}
		.item{
			margin-top: 38px;
		}
	}
}



@media screen and (max-width: 750px){
	.header{
		display: block;
		text-align: center;
		padding-top: 27px;
		padding-bottom: 38px;
		margin-top: 0px;
		.photo{
			margin: auto;
			width: 200px;
			img{
				width: 100%;
				margin: auto;
				margin-bottom: 0;
				position: static;
			}
		}
		.name{
			margin: 15px auto 0 auto;
			span{
				margin-top: 5px;
			}
		}
	}
	.about-person{
		display: block;
		.brown, .white{
			width: 100%;
			background: #fff;
			padding: 0 0 25px 0;
			.item{
				margin-top: 25px;
			}
		}
	}
	.about-person .brown .item:first-child{
		margin-top: 0;
	}
	.about-person .white .item:first-child{
		margin-top: 0;
	}
}