{% extends "pages/base.html" %}
{% load static %}
{% block title %} Мое резюме {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <div class="contain">
      <div class="header">
          <div class="photo">
              <img src="{% static "img/photo.png"%}">
          </div>
          <div class="name">Садыков рамиль <span>Python-разработчик</span></div>
      </div>
      <div class="about-person">
          <div class="brown">
              <div class="item">
                <div class="item-header">О себе</div>
                <ul>
                  <li>Python-разработчик. Хочу поучаствовать в разработке крутого продукта.</li><br>
                  <li>Имею опыт коммерческой разработки: <a href="https://letique-kzn.ru" target="_blank">интернет-магазин</a> на Django REST Framework + Vue.js. </li><br>
                  <li>Написал и веду свой <a href="http://ramilpowers.ru" target="_blank">блог</a> на Django</li><br>
                    <li>Имею опыт разработки простых <a href="https://t.me/Weather_Sadykov_Bot" target="_blank">telegram-ботов.</a></li>
                  <br>
                  <li>Быстро обучаем, целеустремлен и усидчив. Могу самостоятельно решать поставленные задачи и гуглить на английском :)</li>
                </ul>
              </div>
              <div class="item">
                <div class="item-header">профиль на github</div>
                <ul>
                  <li>Посетите мой профиль на GitHub:</li>
                  <li>
                    <a href="https://github.com/RamilPowers" target="_blank">https://github.com/RamilPowers</a>
                  </li>
                </ul>
              </div>
              <div class="item">
                <div class="item-header">Свяжитесь со мной</div>
                <ul>
                  <li>Моб.: +7 (904) 768-20-10</li>
                  <li>E-mail:
                    <a href="mailto:ingatushuy@gmail.com?subject=Предложение вакансии" target="_blank">ingatushuy@gmail.com</a>
                  </li>
                </ul>
                  <br><br>
              </div>
          </div>
          <div class="white">
            <div class="item">
              <div class="item-header">Навыки</div>
              <ul>
                <li>Python</li>
                <li>Django</li>
                <li>Django REST Framework</li>
                <li>Git</li>
                <li>Vue.js</li>
                <li>HTML, CSS</li>
                <li>MSSQL, PostgreSQL, MySQL</li>
                <li>Командная работа</li>
                <br>
                <li><b>Иностранные языки: </b></li>
                <li>Английский - B1 (Intermediate)</li>
              </ul>
            </div>
            <div class="item">
              <div class="item-header">Опыт работы</div>
              <ul>
                <li><em><span><b>Инженер-прогаммист пуско-наладочных работ</b></span>ЗАО НИЦ «Инкомсистем» | Нефтегазовая отрасль Сентябрь 2017 г. - по н. вр.</em></li>
                <li>- Разработка человека-машинного интерфейса HMI</li>
                <li>- Программирование промышленных контроллеров</li>
                <li>- Работа с базами данных MSSQL</li>
                <li>- Подключение и настройка интеллектуальных датчиков</li>
                <li>- Составление отчетов и рабочей документации</li>
                <li>- Ведение переговоров с заказчиком</li>
              </ul>
            </div>
            <div class="item">
              <div class="item-header">Образование</div>
              <ul>
                <li><em><span><b>КНИТУ КХТИ г. Казань</b></span>Бакалавр, «Информатика и вычислительная техника», 2018 г.</em></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
{% endblock %}