{% extends "pages/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Калькулятор расхода топлива {% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
        <h1 class="text-center">Калькуляторы расхода топлива</h1>
        <br><br>
        <div class="d-flex justify-content-center">
            <div class="form-group col-md-10">
                <!-- Калькулятор 1 -->
                <script>
                    {% if calc1_submit %}
                        window.location.href = "#calc1"
                    {% endif %}
                </script>
                <h4 id="calc1" class="text-center">Средний расход и сколько литров можно долить*</h4>
                <h6 class="text-center text-muted">* Если используешь машину в командировке</h6>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ flow_form.litres.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ flow_form.litres }}
                                <div class="input-group-append">
                                    <span class="input-group-text">л</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ flow_form.overall_distance.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ flow_form.overall_distance }}
                                <div class="input-group-append">
                                    <span class="input-group-text">км</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ flow_form.allowed_flow.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ flow_form.allowed_flow }}
                                <div class="input-group-append">
                                    <span class="input-group-text">л/100км</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if flow and flow_form.cleaned_data.overall_distance %}
                    <div class="alert alert-primary" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="row">
                            <div class="col-md-5">
                                <label class="col-form-label">Реальный расход</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-3" type="text" value="{{ flow }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">л/100км</span>
                                    </div>
                                </div>
                            </div>
                            {% if flow_form.cleaned_data.allowed_flow %}
                            <div class="col-md-5">
                                <label class="col-form-label">Разрешенный расход</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-3" type="text" value="{{ flow_form.cleaned_data.allowed_flow }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">л/100км</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label class="col-form-label">Максимальный объем</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-3" type="text" value="{{ volume }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">л</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label class="col-form-label">Можно долить</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-3" type="text" value="{{ delta_volume }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">л</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <p class="text-center">
                        <button  type="submit"  class="btn btn-primary btn-lg pull-right" name="btn1">Рассчитать</button>
                    </p>
                </form>
                <br>
                <hr style="border: 1px solid #6C757D;">
                <br>
                <!-- Калькулятор 2 -->
                <script>
                    {% if calc2_submit %}
                        window.location.href = "#calc2"
                    {% endif %}
                </script>
                <h4 id="calc2" class="text-center">Сколько можно проехать</h4>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ distance_form.litres.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ distance_form.litres }}
                                <div class="input-group-append">
                                    <span class="input-group-text">л</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ distance_form.flow.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ distance_form.flow }}
                                <div class="input-group-append">
                                    <span class="input-group-text">л/100км</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ distance_form.price_per_liter.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ distance_form.price_per_liter }}
                                <div class="input-group-append">
                                    <span class="input-group-text">руб</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if distance and litres %}
                    <div class="alert alert-primary" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="row">
                            <div class="col-md-5">
                                <label class="col-form-label">Можно проехать</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-4" type="text" value="{{ distance }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">км</span>
                                    </div>
                                </div>
                            </div>
                            {% if sum %}
                            <div class="col-md-5">
                                <label class="col-form-label">Заплатив</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-4" type="text" value="{{ sum }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">руб</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <p class="text-center">
                        <button  type="submit"  class="btn btn-primary btn-lg pull-right" name="btn2">Рассчитать</button>
                    </p>
                </form>
                <br>
                <hr style="border: 1px solid #6C757D;">
                <br>
                <!-- Калькулятор 3 -->
                <script>
                    {% if calc3_submit %}
                        window.location.href = "#calc3"
                    {% endif %}
                </script>
                <h4 id="calc3" class="text-center">Сколько нужно топлива на поездку</h4>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ volume_form.distance.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ volume_form.distance }}
                                <div class="input-group-append">
                                    <span class="input-group-text">км</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ volume_form.flow.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ volume_form.flow }}
                                <div class="input-group-append">
                                    <span class="input-group-text">л/100км</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">{{ volume_form.price_per_liter.label }}</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                {{ volume_form.price_per_liter }}
                                <div class="input-group-append">
                                    <span class="input-group-text">руб</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if total_litres %}
                    <div class="alert alert-primary" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="row">
                            <div class="col-md-5">
                                <label class="col-form-label">Нужно заправить</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-4" type="text" value="{{ total_litres }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">л</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="col-form-label">И заплатить</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control ml-sm-3 col-md-4" type="text" value="{{ sum }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">руб</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <p class="text-center">
                        <button  type="submit"  class="btn btn-primary btn-lg pull-right" name="btn3">Рассчитать</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 themed-grid-col">
        <div class="p-4">
            <h3>Еще калькуляторы</h3>
            <ol class="list-unstyled">
              <li><a href="{% url 'blog:kfactor_calculator' %}">Рассчитать К-фактор</a></li>
            </ol>
      </div>
    </div>
</div>
{% endblock %}